{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Title of the page -->
{% block title %}
Kylo
{% endblock %}

<!-- This creates the navbar at the top of the page -->
{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}


{% block content %}


<!-- Creating the form to display -->
<div class="container">
    <form method="POST" action="/">
      <dl>
      {{ wtf.quick_form(form)}}
        <input class="btn btn-primary" type="submit" value="Submit">
        </dl>
    </form>
</div>

<!-- This section returns any "flashes", which are used to display responses from the API calls -->
<div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>
{% endblock %}