{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% block title %}
Kylo
{% endblock %}

{% block content %}
<!-- This section returns any "flashes", which are used to display responses from the API calls -->
<div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>

<!-- Creating the form to display -->
<div class="container">
    <form method="POST" action="/">
      <dl>
      {{ wtf.quick_form(form)}}
        <input class="btn btn-primary" type="submit" value="Submit">
        </dl>
    </form>
</div>
{% endblock %}